/* Imports */
@import "fonts"; /* Importing external font styles */
@import "rouge-github"; /* Importing external syntax highlighting styles */

/**************/
/* Logo & Title */
/**************/

/* Styles for the logo and title section */
.logo-title {
  display: flex;
  justify-content: flex-start; /* Aligns items to the start of the container */
  align-items: center; /* Vertically centers items */
  gap: 20px; /* Adjust this for the gap between logo and title */
}

.logo-container {
  flex-shrink: 0; /* This prevents the logo from shrinking */
  margin-right: 50px; /* This adds some space to the right of the logo */
}

.title {
  text-align: left;
  font-family: 'Righteous', 'Open Sans', Arial; /* Font families for the title */
  font-size: 24px;
  line-height: 1.1;
  color: hsl(245, 94%, 46%); /* Title color */
}

.title a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent element */
}

/******************/
/* Heading Styles */
/******************/

/* Styles for different parts of headings */
.part1 {
  font-size: 45px; /* Font size for part 1 heading */
  margin-bottom: 10px; /* Spacing at the bottom of part 1 heading */
  font-weight: bold;
  letter-spacing: 6px; /* Letter spacing for part 1 heading */
}

.part2 {
  font-size: 33px; /* Font size for part 2 heading */
  padding-left: 25px; /* Left padding for part 2 heading */
  font-weight: bold;
  letter-spacing: 4px; /* Letter spacing for part 2 heading */
}

.part3 {
  font-size: 33px; /* Font size for part 3 heading */
  padding-left: 10px; /* Left padding for part 3 heading */
  font-weight: bold;
  letter-spacing: 4px; /* Letter spacing for part 3 heading */
  margin-bottom: 30px; /* Spacing at the bottom of part 3 heading */
}

/******************/
/* Button Styles */
/******************/

/* Styles for the button section */
.button-section {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the items vertically */
  gap: 30px; /* Provide equal space between the buttons */
  margin-bottom: 30px; /* Spacing at the bottom of the button section */
}

/* White Button Link */
.button-link-white a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px; /* Padding for the button */
  color: hsla(245, 100%, 50%, 0.888); /* Text color */
  text-decoration: none;
  border-radius: 10px; /* Rounded corners */
  border: 2px solid hsl(35, 60%, 97%); /* Border color */
}

.button-link-white a:hover {
  border-color: hsl(32, 39%, 94%); /* Change border color on hover */
  color: hsl(245, 94%, 46%); /* Change text color on hover */
  transform: scale(0.95); /* Scale up the button on hover */
}

/* Blue Button Link */
.button-link-blue a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px; /* Padding for the button */
  color: hsla(245, 100%, 50%, 0.888); /* Text color */
  text-decoration: none;
  border-radius: 20px; /* Rounded corners */
  border: 2px solid hsl(245, 94%, 46%); /* Border color */
}

.button-link-blue a:hover {
  border-color: hsla(245, 94%, 46%, 0.8); /* Change border color on hover */
  color: hsl(245, 94%, 46%); /* Change text color on hover */
  transform: scale(0.95); /* Scale up the button on hover */
}

/* Spotify Green Button Link */
.button-link-spotify-green a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px; /* Padding for the button */
  color: hsl(142.2, 72.9%, 42%); /* Text color */
  text-decoration: none;
  border-radius: 100px; /* Rounded corners */
  border: 2px solid hsl(142.2, 72.9%, 42%); /* Border color */
}

.button-link-spotify-green a:hover {
  border-color: hsl(142.2, 72.9%, 42%); /* Change border color on hover */
  color: hsl(142.2, 72.9%, 42%); /* Change text color on hover */
  transform: scale(0.95); /* Scale up the button on hover */
}

/************************/
/* Scrollable Container */
/************************/

/* Styles for a scrollable container */
.scrollable {
  overflow-y: auto; /* Change to 'scroll' if you want the scrollbar to be always visible */
  height: 515px; /* Specify a height here */
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Custom Scrollbar Styles */
.scrollable::-webkit-scrollbar {
  width: 3px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

.scrollable::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.01);
}
